@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

html,
body,
#root {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

h1 {
    text-align: center;

}

th{
    text-align: center;

}

.mb-2{
    background-color: #3297b6;
    border: solid #3297b6;
    border-radius: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    
    
}

:hover .Button{
    background-color: blueviolet;
}

th,tr{
    border:solid ;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #e2e3d9;
 
    
}

.m-1{
    background-color: green;
    border: green;
    border-radius: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: #ffff;
}

